Repository QuaidBartolomei/drawnit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged, npm run client:lint

.lintstagedrc.json:

{
  "**/package.json": "npx sort-package-json",
  "*": "prettier --ignore-unknown --write",
  "client/**/*.{ts,tsx}": "npm run client:lint-staged",
  "client/**/.eslint*": "npm run client:lint"
}

chore: move grid background styles
  client/src/pages/Room.tsx
  client/src/utils/grid-background.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: ignore server test coverage
  server/.gitignore
Due: prettier --ignore-unknown --write

chore: change test scripts
  client/package.json
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: remove unused getAuthToken function
  server/src/utils/test.utils.ts
Due: prettier --ignore-unknown --write

feat: server eslint simple import sort
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

feat: add testing to lint staged
  .husky/pre-commit
  .lintstagedrc.js
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: linting
  server/src/main.ts
  server/src/models/image.model.ts
  server/src/models/room.model.ts
  server/test/globalSetup.ts
  server/test/globalTeardown.ts
Due: prettier --ignore-unknown --write

chore: linting
  client/src/__tests__/integration/socket.test.ts
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasBackgroundImage.tsx
  client/src/components/Canvas/CanvasToolbar/BrushColorInput.tsx
  client/src/components/Canvas/CanvasToolbar/ChangeCanvasBackgroundButton.tsx
  client/src/components/Canvas/CanvasToolbar/ClearCanvasButton.tsx
  client/src/components/Canvas/CanvasToolbar/ShareRoomButton.tsx
  client/src/components/Canvas/hooks/brushTool.hook.tsx
  client/src/components/Canvas/hooks/useSocket.tsx
  client/src/components/Canvas/room.context.tsx
  client/src/components/Canvas/room.reducer.tsx
  client/src/components/ImageInput.tsx
  client/src/components/ImageUploadButton.tsx
  client/src/index.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: add simple import sort to client
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint

chore: change workflow script
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

refactor: rename lint-staged script > lint:fix-selected
  .lintstagedrc.js
  client/package.json
  package.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

docs: update readme
  README.md
Due: prettier --ignore-unknown --write

fix: add coverage to prettier ignore
  .prettierignore
Due: prettier --ignore-unknown --write

test: add e2e test to ci
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: update cypress ci action
  .github/workflows/ci.yml
  client/package.json
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

feat: add build steps to ci workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

feat: cypress component testing
  client/cypress.json
  client/cypress/component-tests/ImageInput.spec.tsx
  client/cypress/plugins/index.js
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged

fix: remove cypress types from base tsconfig
  client/tsconfig.json
Due: prettier --ignore-unknown --write

chore: change package scripts
  .github/workflows/ci.yml
  .lintstagedrc.js
  client/cypress/integration/home.spec.ts
  client/package.json
  package.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged

fix: add cypress env
  client/cypress.json
  client/cypress/integration/home.spec.ts
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged

chore: readme
  README.md
Due: prettier --ignore-unknown --write

chore: improve server test coverage
  server/src/controllers/room.controller.ts
  server/src/controllers/tests/room.controller.test.ts
  server/src/models/room.model.ts
  server/src/models/tests/room.model.test.ts
Due: prettier --ignore-unknown --write

test: socket loader coverage
  server/src/loaders/tests/socket.loader.test.ts
Due: prettier --ignore-unknown --write

chore: update scripts
  .github/workflows/ci.yml
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: renamed brush tool files
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/hooks/useBrushTool.tsx
  client/src/components/Canvas/hooks/usePanTool.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

refactor: removed client api folder
  client/src/__tests__/integration/socket.test.ts
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasToolbar/ChangeCanvasBackgroundButton.tsx
  client/src/components/Canvas/CanvasToolbar/ClearCanvasButton.tsx
  client/src/components/Canvas/hooks/useBrushTool.tsx
  client/src/components/Canvas/hooks/useSocket.tsx
  client/src/pages/Home.tsx
  client/src/pages/Room.tsx
  client/src/utils/roomApi.ts
  client/src/utils/socket.ts
  client/src/utils/tests/roomApi.test.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

fix: package scripts
  .github/workflows/ci.yml
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: ci scripts
  client/cypress/integration/home.spec.ts
  package.json
  server/package.json
  server/src/main.ts
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged

fix: add secret to workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: improve scripts, remove old
  .github/workflows/ci.yml
  .lintstagedrc.js
  client/cypress/plugins/index.js
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: cypress config
  client/cypress.json
Due: prettier --ignore-unknown --write

test: draw on canvas
  client/cypress/integration/home.spec.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: refactorings
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/hooks/useBrushTool.tsx
  client/src/components/Canvas/room.reducer.tsx
  client/src/utils/canvas.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: move canvas utils file
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasBackgroundImage.tsx
  client/src/components/Canvas/CanvasToolbar/ClearCanvasButton.tsx
  client/src/components/Canvas/canvas.utils.ts
  client/src/components/Canvas/hooks/useBrushTool.tsx
  client/src/components/Canvas/room.reducer.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: remove css file
  client/src/global-styles.css
  client/src/index.tsx
  client/src/pages/Room.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: remove service worker
  client/src/index.tsx
  client/src/serviceWorker.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: replace deprecated function
  server/src/main.dev.ts
  server/src/main.ts
Due: prettier --ignore-unknown --write

docs: readme
  README.md
Due: prettier --ignore-unknown --write

fix: cypress e2e test
  client/cypress.json
  client/cypress/integration/home.spec.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

feat: workflow caching and saving
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write
