Repository QuaidBartolomei/drawnit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged, npm run client:lint

.lintstagedrc.json:

{
  "**/package.json": "npx sort-package-json",
  "*": "prettier --ignore-unknown --write",
  "client/**/*.{ts,tsx}": "npm run client:lint-staged",
  "client/**/.eslint*": "npm run client:lint"
}

chore: add server testing to workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: change lint-staged config to .js
  .lintstagedrc.js
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

fixup: test scripts
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

feat: client import linting
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint

fix: client lint warnings
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/room.context.tsx
  client/src/index.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

docs: commented lintstaged file
  .lintstagedrc.js
Due: prettier --ignore-unknown --write

feat: server import linting
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: server lint warnings
  server/src/controllers/room.controller.ts
  server/src/loaders/app.loader.ts
  server/src/main.ts
Due: prettier --ignore-unknown --write

chore: change client test script
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: add build to workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: add names to ci steps
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: change prettier script
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: mongo memory db package
  server/package-lock.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: remove server test from ci workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: change full install script
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: cleanup
  server/src/loaders/db.loader.dev.ts
Due: prettier --ignore-unknown --write

feat: update mongoose to v6
  server/package-lock.json
  server/package.json
  server/src/loaders/db.loader.dev.ts
  server/src/loaders/db.loader.ts
  server/src/main.dev.ts
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: move test db to global setup
  server/jest.config.js
  server/src/controllers/tests/room.controller.test.ts
  server/src/loaders/tests/db.loader.dev.test.ts
  server/src/loaders/tests/db.loader.test.ts
  server/src/models/tests/image.model.test.ts
  server/src/models/tests/room.model.test.ts
  server/test/config.ts
  server/test/globalSetup.ts
  server/test/globalTeardown.ts
  server/test/setupFile.ts
  server/tsconfig.json
  server/tsconfig.prod.json
Due: prettier --ignore-unknown --write

fix: room page width
  client/src/pages/Room.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

feat: installed cypress
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: configure cypress
  client/cypress.json
  client/cypress/plugins/index.js
  client/cypress/support/commands.js
  client/cypress/support/index.js
  client/tsconfig.json
Due: prettier --ignore-unknown --write

test: homepage redirection
  client/cypress/integration/home.cy.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

fix: cypress ts config
  client/cypress/tsconfig.json
  client/tsconfig.json
Due: prettier --ignore-unknown --write

chore: add top level script for running e2e
  client/package.json
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: disable cypress videos
  client/cypress.json
Due: prettier --ignore-unknown --write

fix: move mongo memory server version to env
  server/package.json
  server/src/loaders/db.loader.dev.ts
  server/test/config.ts
  server/test/globalSetup.ts
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: lint errors
  client/cypress/plugins/index.js
Due: prettier --ignore-unknown --write

fix: server test open handle
  server/src/loaders/tests/app.loader.test.ts
Due: prettier --ignore-unknown --write

feat: add server tests to ci workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

fix: add db name to test db connection
  server/test/setupFile.ts
Due: prettier --ignore-unknown --write

test: add screenshot
  client/cypress/integration/home.cy.ts
  client/cypress/screenshots/home.cy.ts/screenshot.png
Due: prettier --ignore-unknown --write, npm run client:lint-staged

fix: remove jest-mongo
  server/jest.config.js
  server/package-lock.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: test open handles
  server/src/controllers/tests/room.controller.test.ts
  server/src/loaders/tests/app.loader.test.ts
  server/src/loaders/tests/db.loader.test.ts
Due: prettier --ignore-unknown --write

fix: readme
  README.md
Due: prettier --ignore-unknown --write

chore: rename ci
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: update readme
  README.md
Due: prettier --ignore-unknown --write

chore: improve readme
  README.md
Due: prettier --ignore-unknown --write

Update README.md
  README.md
Due: prettier --ignore-unknown --write

chore: remove explicit any from jest global setups
  server/test/globalSetup.ts
  server/test/globalTeardown.ts
Due: prettier --ignore-unknown --write

chore: remove unused file
  client/src/config.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged
