Repository QuaidBartolomei/drawnit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged, npm run client:lint

fix: build errors
  client/src/components/Canvas/CanvasToolbar/ChangeCanvasBackgroundButton.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

fix: parser settings
  client/.eslintrc.js
  client/tsconfig.base.json
Due: prettier --ignore-unknown --write, npm run client:lint

fix: canvas not resizing to match image
  server/src/controllers/room.controller.ts
Due: prettier --ignore-unknown --write

fix: lint-staged settings
  .lintstagedrc.js
Due: prettier --ignore-unknown --write

chore: selec image upload button
  client/cypress/integration/home.spec.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: add image fixture
  client/cypress/fixtures/400x800.png
Due: prettier --ignore-unknown --write

chore: install and configure cypress file upload
  client/cypress/support/commands.js
  client/cypress/tsconfig.json
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

test: upload image and check canvas size
  client/cypress/integration/home.spec.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

fix: tsconfig files
  client/tsconfig.base.json
  client/tsconfig.build.json
  client/tsconfig.json
Due: prettier --ignore-unknown --write

chore: update client eslint rules
  client/.eslintrc.js
  client/cypress/tsconfig.json
  client/package-lock.json
  client/package.json
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasBackgroundImage.tsx
  client/src/components/Canvas/CanvasToolbar/CanvasToolButton.tsx
  client/src/components/Canvas/CanvasToolbar/ClearCanvasButton.tsx
  client/src/components/Canvas/hooks/useBrushTool.tsx
  client/src/components/Canvas/room.context.tsx
  client/src/components/Canvas/room.reducer.tsx
  client/src/components/Canvas/room.schema.ts
  client/src/components/ImageInput.tsx
  client/src/index.tsx
  client/src/pages/Room.tsx
  client/src/utils/roomApi.ts
  client/src/utils/socket.ts
  client/tsconfig.base.json
  client/tsconfig.json
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged, npm run client:lint

chore: server eslint settings
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/controllers/room.controller.ts
  server/src/controllers/tests/room.controller.test.ts
  server/src/loaders/app.loader.ts
  server/src/loaders/express.loader.ts
  server/src/loaders/tests/app.loader.test.ts
  server/src/loaders/tests/socket.loader.test.ts
  server/src/main.ts
  server/src/models/image.model.ts
  server/src/models/room.model.ts
  server/src/models/tests/room.model.test.ts
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: replace server ts-jest with swc
  server/jest.config.js
  server/package-lock.json
  server/package.json
  server/test/globalSetup.ts
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: rename tsconfig for production build
  server/package.json
  server/tsconfig.build.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: uninstall rtl
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: install jest types
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

feat: imageUpload with cloudinary function
  client/src/utils/cloudinary.test.ts
  client/src/utils/cloudinary.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: install axios and cloudinary to server
  server/package-lock.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

feat: server cloudinary getSig function
  server/src/utils/cloudinary.test.ts
  server/src/utils/cloudinary.ts
Due: prettier --ignore-unknown --write

feat: cloudinary get signature route
  server/src/loaders/app.loader.ts
  server/src/utils/cloudinary.test.ts
  server/src/utils/cloudinary.ts
Due: prettier --ignore-unknown --write

feat: cloudinary get signature route
  client/src/utils/cloudinary.ts
  client/src/utils/test.ts
  client/src/utils/tests/roomApi.test.ts
  client/src/utils/uploadRoute.test.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

refactor: routes/room.routes to routes
  server/src/controllers/room.controller.ts
  server/src/controllers/tests/room.controller.test.ts
  server/src/routes.ts
Due: prettier --ignore-unknown --write

chore: refactors
  server/.eslintrc.js
  server/src/controllers/room.controller.test.ts
  server/src/controllers/room.controller.ts
  server/src/controllers/upload.test.ts
  server/src/controllers/upload.ts
  server/src/interfaces/room.interface.ts
  server/src/loaders/app.loader.test.ts
  server/src/loaders/app.loader.ts
  server/src/loaders/db.loader.dev.test.ts
  server/src/loaders/db.loader.test.ts
  server/src/loaders/socket.loader.test.ts
  server/src/main.dev.ts
  server/src/models/room.model.test.ts
  server/src/models/room.model.ts
  server/src/models/tests/image.model.test.ts
  server/src/utils/cloudinary.spec.ts
  server/src/utils/cloudinary.ts
  server/src/utils/image.jpg
  server/test/image.jpg
  server/test/setupFile.ts
  server/test/utils.ts
  server/tsconfig.json
Due: prettier --ignore-unknown --write

chore: server tsconfig build settings
  server/tsconfig.build.json
Due: prettier --ignore-unknown --write

fix: client uses cdn
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasToolbar/ChangeCanvasBackgroundButton.tsx
  client/src/components/Canvas/CanvasToolbar/ClearCanvasButton.tsx
  client/src/components/Canvas/hooks/useSocket.tsx
  client/src/interfaces/room.interface.ts
  client/src/utils/cloudinary.test.ts
  client/src/utils/cloudinary.ts
  client/src/utils/roomApi.ts
  client/src/utils/test.ts
  client/src/utils/tests/roomApi.test.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

fix: remove tsconfig.base
  client/.eslintrc.js
  client/cypress/tsconfig.json
  client/tsconfig.base.json
  client/tsconfig.json
Due: prettier --ignore-unknown --write, npm run client:lint

docs: remove toc from readme
  README.md
Due: prettier --ignore-unknown --write

chore: change client test script
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: move client jest integration tests
  client/.eslintrc.js
  client/__tests__/integration/cloudinary.test.ts
  client/__tests__/integration/socket.test.ts
  client/src/utils/cloudinary.test.ts
  client/tsconfig.json
Due: prettier --ignore-unknown --write, npm run client:lint-staged, npm run client:lint

chore: fix client script for testing staged files
  client/package.json
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

feat: signed uploading with cloudinary
  client/src/utils/cloudinary.ts
  client/src/utils/test.ts
  client/src/utils/uploadRoute.test.ts
  server/src/controllers/upload.test.ts
  server/src/controllers/upload.ts
  server/src/main.dev.ts
  server/src/utils/cloudinary.spec.ts
  server/src/utils/cloudinary.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: remove unused env var references
  client/src/utils/cloudinary.ts
  server/src/utils/cloudinary.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: add cloudinary env vars to github workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: fix github ci
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: remove cors
  server/package-lock.json
  server/package.json
  server/src/main.dev.ts
  server/src/main.ts
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: security vulnerabilities
  client/package-lock.json
  server/package-lock.json
Due: prettier --ignore-unknown --write

fix: security vulnerability
  client/package-lock.json
Due: prettier --ignore-unknown --write

fix: security vulnerability
  server/package-lock.json
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: update client/package-lock.json
  client/package-lock.json
Due: prettier --ignore-unknown --write

feat: vercel.json
  vercel.json
Due: prettier --ignore-unknown --write

Path conditions:
  npx sort-package-json: any of: **/package.json
  prettier --ignore-unknown --write: any of: *
  npm run client:lint-staged: any of: client/**/*.{ts,tsx}
  npm run client:lint: any of: client/**/.eslint*
