Repository QuaidBartolomei/drawnit: changes, and which lint-staged commands are due for each by the changed paths.
All: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged, npm run client:lint

fix: socket server config
  server/src/loaders/socket.loader.ts
Due: prettier --ignore-unknown --write

fix: socket config
  client/src/utils/socket.ts
  server/src/loaders/socket.loader.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: cleanup workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: add build:dev script
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

docs: readme
  README.md
Due: prettier --ignore-unknown --write

Create LICENSE
  LICENSE
Due: prettier --ignore-unknown --write

Update .lintstagedrc.js
  .lintstagedrc.js
Due: prettier --ignore-unknown --write

feat: add prettier check to github workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

refactor: server init scripts
  package.json
  server/src/loaders/app.loader.ts
  server/src/main.dev.ts
  server/src/main.ts
  server/src/utils/env.utils.ts
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: gitignore cypress videos
  client/.gitignore
Due: prettier --ignore-unknown --write

feat: install and configure commitlint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

docs: ci workflow comments
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

fix: lintstaged setting
  .lintstagedrc.js
Due: prettier --ignore-unknown --write

chore: workflow only runs on main branch push
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --write

chore: install redux-toolkit
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: install react-redux
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: copy redux-toolkit template files
  client/src/app/hook.ts
  client/src/app/store.ts
  client/src/features/roomSlice.spec.ts
  client/src/features/roomSlice.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

docs: update readme
  README.md
Due: prettier --ignore-unknown --write

chore: install react-router
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: install client eslint airbnb
  client/package-lock.json
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: add baseUrl to tsconfig for react-scripts
  client/tsconfig.json
Due: prettier --ignore-unknown --write

chore: configure airbnb eslint styles
  server/.eslintignore
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/tsconfig.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: rename test scripts
  .lintstagedrc.js
  package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

chore: eslint settings
  client/.eslintignore
  client/.eslintrc.js
  client/tsconfig.json
  server/.eslintrc.js
Due: prettier --ignore-unknown --write, npm run client:lint

fix: eslint warnings
  client/src/components/BackdroppedAlert.tsx
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasToolbar/BrushColorInput.tsx
  client/src/components/Canvas/canvas.utils.ts
  client/src/components/ImageUploadButton.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: fix build errors
  client/package-lock.json
  client/package.json
  client/src/components/BackdroppedAlert.tsx
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasToolbar/CanvasToolbar.tsx
  client/src/components/Canvas/CanvasToolbar/ClearCanvasButton.tsx
Due: npx sort-package-json, prettier --ignore-unknown --write, npm run client:lint-staged

fix: eslint errors
  server/globals.d.ts
  server/src/controllers/room.controller.ts
  server/src/controllers/tests/room.controller.test.ts
  server/src/loaders/express.loader.ts
  server/src/models/image.model.ts
  server/src/models/room.model.ts
  server/src/models/tests/room.model.test.ts
  server/src/utils/test.utils.ts
  server/test/globalSetup.ts
  server/test/globalTeardown.ts
  server/test/setupFile.ts
Due: prettier --ignore-unknown --write

refactor: split tsconfig
  client/tsconfig.base.json
  client/tsconfig.build.json
  client/tsconfig.json
Due: prettier --ignore-unknown --write

chore: add module path to jest config
  client/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

fix: eslint errors
  client/src/__tests__/integration/socket.test.ts
  client/src/components/Canvas/Canvas.tsx
  client/src/components/Canvas/CanvasBackgroundImage.tsx
  client/src/components/Canvas/CanvasToolbar/BrushColorInput.tsx
  client/src/components/Canvas/CanvasToolbar/CanvasToolButton.tsx
  client/src/components/Canvas/CanvasToolbar/CanvasToolbar.tsx
  client/src/components/Canvas/CanvasToolbar/ChangeCanvasBackgroundButton.tsx
  client/src/components/Canvas/CanvasToolbar/ClearCanvasButton.tsx
  client/src/components/Canvas/CanvasToolbar/ShareRoomButton.tsx
  client/src/components/Canvas/CanvasToolbar/canvasTool.schema.ts
  client/src/components/Canvas/canvas.utils.ts
  client/src/components/Canvas/room.context.tsx
  client/src/components/Canvas/room.reducer.tsx
  client/src/components/Canvas/room.schema.ts
  client/src/components/ImageInput.tsx
  client/src/components/ImageUploadButton.tsx
  client/src/pages/Home.tsx
  client/src/pages/Room.tsx
  client/src/utils/fetch.ts
  client/src/utils/mouse.ts
  client/src/utils/roomApi.ts
  client/src/utils/socket.ts
  client/src/utils/test.ts
  client/src/utils/tests/fetch.test.ts
  client/src/utils/tests/roomApi.test.ts
Due: prettier --ignore-unknown --write, npm run client:lint-staged

fix: use history setting
  client/src/pages/Home.tsx
Due: prettier --ignore-unknown --write, npm run client:lint-staged

chore: run server tests in band for better performance
  server/package.json
Due: npx sort-package-json, prettier --ignore-unknown --write

Path conditions:
  npx sort-package-json: any of: **/package.json
  prettier --ignore-unknown --write: any of: *
  npm run client:lint-staged: any of: client/**/*.{ts,tsx}
  npm run client:lint: any of: client/**/.eslint*
